#RewriteEngine On
#Options All -Indexes

#RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|jpeg|gif|svg)$ [NC]
#RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|jpeg|gif|svg|woff|woff2|ttf|eot)$ [NC]

#RewriteRule ^([a-zA-Z0-9/ñÑ-]+)$ index.php?url=$1
#RewriteRule ^([a-zA-Z0-9/ñÑ-]+)(/?.*)$ index.php?url=$1&params=$2 [QSA,L]


RewriteEngine On
Options All -Indexes
RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|jpeg|gif|svg|woff|woff2|ttf|eot)$ [NC]

RewriteRule ^([a-zA-Z0-9ñÑ-]+)/?([a-zA-Z0-9ñÑ-]+)?/?([a-zA-Z0-9ñÑ-]+)?$ index.php?url=$1&accion=$2&id=$3 [QSA,L]